.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

header {
  display: flex;
  align-self: center;
  gap: 74px;
}

.title {
  display: flex;
  gap: 9px;
}

h1 {
  font-size: 20px;
  font-weight: 800;
  color: #1c202b;
}

.container {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #0a327b;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}

.read {
  font-size: 14px;
  font-weight: 500;
  color: #5e6778;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
