.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 100%;
  box-shadow: 0 20px 60px 0 rgba(73, 97, 168, 0.05);
  background-color: #fff;
  padding: 16px;
  border-radius: 15px;
}

header {
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: space-between;
}

.title {
  display: flex;
  gap: 9px;
}

h1 {
  font-size: 20px;
  font-weight: 800;
  color: #1c202b;
}

.container {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #0a327b;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}

.read {
  font-size: 14px;
  font-weight: 500;
  color: #5e6778;
  cursor: pointer;
  transition: 0.4s;
}

.read:hover {
  color: #0a327b;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1440px) {
  .content {
    padding: 30px;
  }
}
