@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafd;
}

@media screen and (min-width: 750px) {
  body {
    padding: 50px 100px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: 63px 355px;
  }
}
